@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-fundo: #ecf0f1;
    --cor-primaria: #F0DBAF;
    --cor-secundaria: #fa845c;
    --cor-terciaria: #b65b56;
    --cor-4: #22d4fd;
    --cor-branca: #FFFFFF;  

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    100% { transform: translate(0, 0) rotate(0deg); }
}

::marker {
    color: var(--cor-4);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 1.25em 3em;
    background-color: var(--cor-secundaria);
    border-bottom: 3px solid var(--cor-terciaria);
    display: flex;
    justify-content: space-between;
}

.titulo-site {
    color: var(--cor-branca);
    font-family: var(--fonte-primaria);
}

.cabecalho__menu {
    display: flex;
    gap: 2rem;
}

.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--cor-branca);
    text-decoration: none;
}

.cabecalho__menu__link:hover {
    color: var(--cor-4);
}


.apresentacao {
    padding: 4% 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
}

.apresentacao__imagem {
    width: 30%;
    border-radius: 40px;
    border: 2px dotted var(--cor-terciaria);
    padding: 10px;
    position: sticky;
    top: 50px;
    align-self: flex-start;
    
}

.apresentacao__conteudo {
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 750px;
}

.titulo-pagina {
    color: var(--cor-terciaria);
    font-size: 2rem;
    font-family: var(--fonte-primaria);

}

.apresentacao__conteudo__titulo2, .projeto__titulo {
    color: var(--cor-terciaria);
    font-size: 1.875rem;
    font-family: var(--fonte-primaria);
}

.apresentacao__conteudo__titulo3 {
    color: var(--cor-terciaria);
    font-size: 1.5rem;
    font-family: var(--fonte-primaria);
}

.titulo-destaque {
    color:var(--cor-4);
    background-color:var(--cor-terciaria);
    border-radius: 5px;
    padding: 0 .2em;
}

.apresentacao__conteudo__texto {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
    color: var(--cor-terciaria);
}

#apresentacao__links__navegacao {
    display: flex;
    justify-content: center;
    gap: 10px;
    border: 2px solid var(--cor-terciaria);
    border-radius: 8px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    width: 50%;
    padding: 16px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
}

#apresentacao__links__navegacao:hover {
    background-color: var(--cor-secundaria);
    color: var(--cor-primaria);

}

.pagina__projetos {
    padding: 4% 10%;
    min-height: 80vh;
}

.projetos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
}

.projeto {
    margin: 2em 0;
    max-width: 90%;
}

.projeto a {
    text-decoration: none;
}

.projeto a:hover .projeto__titulo{
    color: var(--cor-4);
}

.projeto a:hover .projeto__img {
    animation: shake 0.3s ease-in-out;
    animation-iteration-count: 1;
}


.projeto__titulo {
    display: inline;
    margin-bottom: 3em;
}


.projeto__img {
    width: 100%;
    border-radius: 10px;
    margin-top: 1em;
}

.rodape {
    background-color: var(--cor-terciaria);
    color: var(--cor-branca);
    padding: 24px;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
    width: 100%;
    overflow: hidden;
}



@media (max-width: 1025px) {
    body {
        background-color: rgb(213, 213, 213);
    }
    
    .cabecalho {
        padding: 3%;
    }

    .cabecalho__menu {
        justify-content: center;
        gap: 10%;
        padding: 0% 10%;
    }

    .apresentacao {
        flex-direction: column-reverse;
        gap: 30px;
        
    }

    .apresentacao__conteudo {
        width: auto;
    }
    
    .apresentacao__imagem {
        align-self: center;
        width: 50%;
        position:static;
    }

    #apresentacao__links__navegacao {
        min-width: 200px;
    }    
}